{% extends "basic_app/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">

    <a class="navbar-link" href="{% url 'basic_app:add_auction' %}">Add a auction here</a>
    <h1>All the auctions:</h1>
    <p>Here list all auctions.</p>
    <div class="whatwhat">
      {% if auctions %}
      <table>
        <thead>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Close time</th>
          <th>Bid</th>
        </thead>

        {% for a in auctions %}
        <tr>

          <td>{{ a.title}}</td>
          <td>{{ a.description}}</td>
          <td>{{ a.bid_price}}</td>
          <td>{{ a.due_date}}</td>
          <td>
            <form action="/basic_app/auctions/bid/" method="post">
              {% csrf_token %}
              <input type="hidden" name="auction_id" value="{{a.id}}">
              <input type="hidden" name="auction_price" value="{{a.bid_price}}">
              <input type="submit" value="Bid">
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
        <p>NO AUCTIONS FOUND!</p>
      {% endif %}
  </div>
</div>

{% endblock %}
