{% extends "basic_app/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">

    <a class="btn btn-info" href="{% url 'basic_app:add_auction' %}">Add a auction here</a>
    <h1>All the auctions:</h1>
    <div class="">
      {% if message %}
      {{message}}
      {% endif %}
      <p>Search by title:</p>
      <form class="" action="/basic_app/auctions/search/" method="POST">

        {% csrf_token %}
        <input type="text" name="title" value="">
        <input class="btn btn-dark" type="submit" value="Search">
      </form>


      {% if auctions %}
      <table class="table">
        <thead class="thead-dark">
          <th>Title</th>
          <th>Description</th>
          <th>Close time</th>
          <th><a class="btn btn-info" href="{% url 'basic_app:change_currency' %}">
            Price {{ currency }}
          </a></th>
          <th>Seller</th>
          <th>Bidder</th>
          <th>Bid</th>
          <th>Edit</th>
          {% if request.user.is_superuser %}
            <th> 
              <a class="btn btn-warning" href="{% url 'basic_app:show_banned' %}">Show banned</a>
            </th>
          {% endif %}
        </thead>

        {% for a in auctions %}
            <tr>
              <td>{{ a.title}}</td>
              <td>{{ a.description}}</td>
              <td>{{ a.due_date}}</td>
              {% if eur_to_usd %}
                <td>{{ a.price }}</td>
              {% else %}
                <td>{{ a.price }}</td>
              {% endif %}
              <td>{{ a.author }}</td>
              <td>{{ a.bidder}}</td>
              <td>
                  {% if user.is_authenticated and a.bidder != user.get_username and a.author != user.get_username %}
                    <form action="/basic_app/auctions/bid/" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="auction_id" value="{{a.id}}">
                      <input type="hidden" name="auction_price" value="{{a.bid_price}}">
                      <input class="btn btn-success" type="submit" value="Bid">
                    </form>
                {% else %}
                  <input class="btn btn-secondary" type="button" value="Bid">
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and a.author == user.get_username %}
                <form action="/basic_app/auctions/edit/{{a.id}}" method="GET">

                    <input class="btn btn-primary" type="submit" value="Edit">
                </form>
                {% endif %}
              </td>
              <!-- Enable banning auctions for superusers.-->
              {% if request.user.is_superuser %}
                <td>
                  {% if a.state == 'Banned' %}
                    <form action="/basic_app/auctions/ban/" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="auction_id" value="{{a.id}}">
                      <input class="btn btn-warning" type="submit" value="Unban">
                    </form>
                  {% else %}
                    <form action="/basic_app/auctions/ban/" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="auction_id" value="{{a.id}}">
                      <input class="btn btn-danger" type="submit" value="Ban">
                    </form>
                  {% endif %}
                </td>
              {% else %}

              {% endif %}

            </tr>
        {% endfor %}
      </table>
      {% else %}
        <p>NO AUCTIONS FOUND!</p>
      {% endif %}
  </div>
</div>

{% endblock %}
