{% extends "basic_app/base.html" %}
{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Edit your account:</h1>
        <h3>Please fill out the form with your details.</h3>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" name="" value="Submit">
        </form>
        <a href="{% url 'basic_app:change_password' %}">Change Password</a>
      {% endif %}

    </div>

  </div>

{% endblock %}
