{% extends "basic_app/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">

    <h1>Selected auction:</h1>
    <p>Make a bid here.</p>
    <div class="whatwhat">
      <table class="table">
        <thead>
        </thead>
        <p>{{ aaf.title }}</p>
        <tr>
          <td><a href="{% url 'basic_app:make_bid' %}">{{ a.title}}</a></td>
          <td>{{ b }}</td>
          <td>{{ aaf.bid_price}}</td>
          <td>{{ aaf.due_date}}</td>
        </tr>
      </table>
  </div>
</div>

{% endblock %}
