{% extends "basic_app/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
        <h2>Item you're bidding for:  {{ auction.title }}  has the minimum bidding price price of 
        {{auction.price}}</h2>

        <form action="{% url 'basic_app:confirm_bid' %}"method="POST">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ auction.id }}">
          <input type="number" name="bid_price" value="{{ auction.price }}" step="0.01" min="{{ auction.price }}">
          <input class="btn btn-primary" type="submit" value="Make bid">
        </form>
  </div>
</div>

{% endblock %}
